.home-social {
  margin-top: 33px;

  ul {
    display: flex;
    justify-content: center;
    gap: 16px;

    a {
      display: flex;
      border: 1px solid $gray-secondary;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      justify-content: center;
      align-items: center;
    }

    i[class*='fa-'] {
      font-size: 20px;
    }
  }
}
