.footer-primary {
  background-color: $brand-secondary;

  //.footer-primary-inner >> asta va deveni cel de jos
  &-inner {
    display: grid;
    row-gap: 43px;
    grid-template-areas:
      'nav'
      'contact'
      'support';

    @include media-breakpoint-up('lg') {
      grid-template-columns: 1fr 2fr;
      grid-template-areas:
        'nav nav'
        'support contact';
    }
  }

  .footer-nav {
    display: flex;
    flex-wrap: wrap;
    row-gap: 43px;
    grid-area: nav;
    text-transform: uppercase;

    @include media-breakpoint-up('lg') {
      flex-wrap: nowrap;
      column-gap: 110px;
    }

    ul {
      flex-basis: 50%;

      @include media-breakpoint-up('lg') {
        flex-basis: auto;
      }
    }
  }

  .footer-contact {
    grid-area: contact;

    @include media-breakpoint-up('lg') {
      align-self: end;
      // tb sa scoatem marginea pusa automat de la bootstrap, ca nu e aliniat cu footer support in partea de jos
    }
  }

  .footer-support {
    grid-area: support;
    text-transform: uppercase;
    justify-self: center;
    align-self: center;

    li {
      display: inline-flex;
      margin-right: 16px;

      i[class*='fa-'] {
        color: $brand-primary;
        font-size: 24px;
        display: grid;
        justify-items: center;
        margin-bottom: 8px;
      }
    }

    @include media-breakpoint-up('lg') {
      justify-self: start;
      align-self: end;
    }
  }
}
