.footer-primary {
  background-color: $brand-secondary;
  color: $gray-primary;
  font-size: 14px;
  padding: 50px;
  margin-bottom: 16px;
  font-weight: 300;

  //.footer-primary-inner >> asta va deveni cel de jos
  &-inner {
    display: grid;
    row-gap: 43px;
    grid-template-areas:
      'nav'
      'contact'
      'support';

    @include media-breakpoint-up('lg') {
      grid-template-columns: 1fr 2fr;
      grid-template-areas:
        'nav nav'
        'support contact';
    }
  }

  .footer-nav {
    display: flex;
    flex-wrap: wrap;
    row-gap: 43px;
    grid-area: nav;
    text-transform: uppercase;
    margin-bottom: 50px;

    @include media-breakpoint-up('lg') {
      flex-wrap: nowrap;
      column-gap: 110px;
    }

    ul {
      flex-basis: 50%;

      @include media-breakpoint-up('lg') {
        flex-basis: auto;
        margin-right: 32px;

        li {
          margin-bottom: 6px;
        }
      }
    }
  }

  .footer-contact {
    grid-area: contact;

    span {
      color: $gray-tertiary;
      font-weight: 500;
    }

    h1 {
      text-transform: uppercase;
      padding-bottom: 8px;
    }

    p {
      line-height: 18px;
    }

    a {
      display: block;
    }

    a:nth-of-type(2) {
      color: $brand-primary;
    }

    @include media-breakpoint-up('lg') {
      align-self: end;
      margin-left: 24px;

      // tb sa scoatem marginea pusa automat de la bootstrap, ca nu e aliniat cu footer support in partea de jos
    }
  }

  .footer-support {
    grid-area: support;
    text-transform: uppercase;
    justify-self: center;
    align-self: center;
    padding-bottom: 16px;

    li {
      display: inline-flex;
      margin-right: 16px;

      i[class*='fa-'] {
        color: $brand-primary;
        font-size: 24px;
        display: grid;
        justify-items: center;
        margin-bottom: 8px;
      }
    }

    @include media-breakpoint-up('lg') {
      justify-self: start;
      align-self: end;
    }
  }
}
