.header-secondary {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;

  .header-logo {
    grid-column: 1 / -1;
    grid-row: 1 / span 1;
    justify-self: center;
    align-self: center;

    @include media-breakpoint-up(lg) {
      grid-row: 2 / span 1;
    }

    img {
      width: 100px;

      @include media-breakpoint-up(lg) {
        width: 180px;
      }
    }
  }

  .header-search {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
    justify-self: start;
    font-size: 24px;
    margin-top: 12px;

    i[class*='fa-bars'] {
      color: $brand-primary;
    }

    ul {
      display: flex;
      align-items: center;
      gap: 8px;
    }
  }

  .header-controls {
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
    justify-self: end;

    ul {
      display: flex;
      align-items: center;
      gap: 8px;

      .cart-controls {
        position: relative;
        bottom: -6px;

        i[class*='fa-'] {
          font-size: 24px;
        }

        .cart-qty {
          position: absolute;
          min-width: 21px;
          height: 21px;
          display: inline-flex;
          justify-content: center;
          align-items: center;
          justify-self: center;
          background-color: $brand-primary;
          color: $white;
          border-radius: 10px;
          font-size: 14px;
          line-height: 20px;
          right: -14px;
          top: -10px;
        }
      }

      @include media-breakpoint-up(lg) {
        flex-direction: row-reverse;
      }

      li:nth-child(2) {
        a {
          display: flex;
          align-items: center;
          justify-items: center;
          gap: 8px;
        }
      }
    }
  }

  .header-support {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
    align-self: center;
    justify-self: start;
    padding-top: 16px;

    i[class*='fa-'] {
      height: 41px;
      margin-right: 8px;
      color: $brand-primary;
      background: transparent;
      opacity: 1;
    }

    ul {
      display: flex;
      gap: 8px;
    }
  }
}
